**1.0 Números**

**1.1 Preenchendo células de código com os valores de (A), (B) e (C) na tabela de
ticket médio abaixo**

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Médio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [1]:
#(A)
Qtd_Total_Vendas_19 = 3
Ticket_Medio_19 = 320.52

Valor_Total_Vendas_19 = Qtd_Total_Vendas_19 * Ticket_Medio_19
print(Valor_Total_Vendas_19)

961.56

In [3]:
#(B)
Valor_Total_Vendas_20 = 834.47
Ticket_Medio_20 = 119.21

Qtd_Total_Vendas_20 = Valor_Total_Vendas_20 / Ticket_Medio_20
print(Qtd_Total_Vendas_20)

7.000000000000001

In [4]:
#(C)
Valor_Total_Vendas_23 = 15378.12
Qtd_Total_Vendas_23 = 5

Ticket_Medio_23 = Valor_Total_Vendas_23 / Qtd_Total_Vendas_23
print(Ticket_Medio_23)

3075.6240000000003

**2.0 Strings**

**2.1 Aplicando três métodos distintos na string abaixo**

In [7]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

cancao.casefold()

'roda mundo, roda gigante, roda moinho, roda pião.'

In [8]:
cancao.upper()

'RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.'

In [6]:
cancao.title()

'Roda Mundo, Roda Gigante, Roda Moinho, Roda Pião.'

**2.2 Extraindo da string abaixo o valor da taxa selic na variável selic e o valor do ano na
variavel ano**

In [9]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [12]:
#Selic
posicao_percentual = noticia.find('%')
selic = noticia[posicao_percentual-4:posicao_percentual]
print(posicao_percentual)
print(selic)

16
2,75

In [13]:
#Ano
posicao_ano = noticia.find('ano')
ano = noticia[posicao_ano -2: posicao_ano]
print(posicao_ano)
print(ano)

64
6

**3.0 Booleanos**

**3.1 Utilizando a tabela da verdade para responder: Qual o valor da variável x?**

| **A**    | **B**    | **A OR B** | **A AND B** | **NOT A** |
|----------|----------|------------|-------------|-----------|
| **TRUE** | **TRUE** | **TRUE**   | **TRUE**    | FALSE     |
| **TRUE** | FALSE    | **TRUE**   | FALSE       | FALSE     |
| FALSE    | FALSE    | FALSE      | FALSE       | **TRUE**  |
| FALSE    | **TRUE** | **TRUE**   | FALSE       | **TRUE**  |

In [16]:
a = False
b = True

x = not a & b

print(False & True)
print(not False)

x = not False
print(x)

False
True
True